<br />
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="media text-center">
        <div class="media-body">
          <h1 class="media-heading text-center"><%= @user.name %></h1>
          <small >
            <%= pluralize(@user.bookmarks.count, 'bookmark') %>,
            <%= pluralize(@user.likes.count, 'like') %>
          </small>
        </div>
      </div>
    </div>
  </div>
  <br />
  
  <% if @user.bookmarks.count > 0 %>
    <h2 class="text-center"> My Bookmarks </h2>
      <% @user_bookmarks.each do |topic, bookmarks| %>
        <div class="col-md-12 row">
            <h3> <%= link_to topic.title, topic %> </h3>
        </div>
        <div class="row">

          <% bookmarks.each do |bookmark| %>
            <div class="thumbnail col-md-2">
              
              <% if bookmark.thumbnail_url != nil %>
                <b><%= bookmark.title %></b> 
                <%= link_to(image_tag(bookmark.thumbnail_url), bookmark.url, class: "thumbnail thumb", target: "_blank" ) %>
              <% else %>
                <%= link_to(image_tag('img_not_available.jpg'), bookmark.url, class: "thumbnail thumb", target: "_blank" ) %>
              <% end %>
            </div> 
          <% end %>
        </div>
      <% end %>
  <% end %>


 <% if @user.likes.count > 0 %>
  <h2 class="text-center"> Liked Bookmarks </h2> 
  <br >
    <div class="row">
      <% @user_likes.each do |like| %>
        <div class="thumbnail col-md-2">
          <b> <%= link_to "#{like.bookmark.title}"%> </b>
          <% if like.bookmark.thumbnail_url != nil %>
            <%= link_to(image_tag(like.bookmark.thumbnail_url), like.bookmark.url, class: "thumbnail thumb", target: "_blank") %>
          <% else %>
             <%= link_to(image_tag('img_not_available.jpg'), like.bookmark.url, class: "thumbnail thumb", target: "_blank" ) %>
          <% end %>
          <div class="likes">
            <%= render partial: 'likes/like', locals: { bookmark: like.bookmark } if current_user %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>

